/*.container-fluid {
   height: 100%;
   font-size: 16px;
}

div {
   border: black solid .5px !important;
   position: absolute;
   height: 100%;
   width: 100%;
}

div.col {
   background-color: #350d36;
}

#users-h1 {
    color: white !important;
    text-align: center;
    opacity: 0.95;
    padding-top: 40px;
}

hr {
    border-top: 1px solid white !important;
    width: 100%;
}
    */
html, body {
    height: 100%;
    width: 100%;
}


.container {
    height: 100%;
    width: 100%;
    margin: 0 0;
}


#one.col h2 {
    padding-top: 10px;
    margin: auto;
    color: #FFFFFF;
    opacity: 0.9;
}

#three.col h6 {
    padding: 5px 5px 5px 0px;
    margin: auto;
    color: #FFFFFF;
    opacity: 0.89;
}

#two.col h6 {
    position: fixed;
    opacity: 0.9;
    left: 30%;
    
}

#two.col p  {
    padding: 18px 10px 3px 0;
    position: fixed;
    opacity: 0.9;
    left: 30%;

}

#one.col {
    margin: 0;
    position: fixed;
    display: block;
    left: 0%;
    border-style: solid;
    border-width: 1px;
    height: 8%;
    width: 25%;
    text-align: left;
    background: #3F0E40;
}

#two.col {
    padding-top: 40px;
    position: fixed;
    display: block;
    left: 25%;
    width: 75%;
    border: 1px solid white;
    height: 100%;
}

#three.col {
    position: fixed;
    display: block;
    left: 0%;
    top: 76px;
    height: 92%;
    width: 25%;
    background: #3F0E40;
}

#four.col {
    position: fixed;
    top: 90%;
    width: 65%;
    left: 30%;
    height: 6.5%;
   align-items: center;
    
}

/* form */

.form-control {
    margin-top: 5px;
}









