/*.container-fluid {
   height: 100%;
   font-size: 16px;
}

div {
   border: black solid .5px !important;
   position: absolute;
   height: 100%;
   width: 100%;
}

div.col {
   background-color: #350d36;
}

#users-h1 {
    color: white !important;
    text-align: center;
    opacity: 0.95;
    padding-top: 40px;
}

hr {
    border-top: 1px solid white !important;
    width: 100%;
}
    */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 16px;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 0;
}


#log-out.col {
  display: inline !important;
}

.users-header {
  margin-left: 10px !important;
}

/*   Third column

.user-icon.container {
  height: 3%;
}

.log-out-button {
  padding: 0 !important;
  display: none;
  font-size: 0.9rem;
  color: white;
  float: right;
  margin-top: 3px;
  border: none !important;
  border-style: none !important;
  background-color: #3f0e40 !important;
}

.log-out-button:hover {
  border: none;
}

.log-out-button:focus {
  border: none !important;
  box-shadow: none !important;
}

/* Login Page */

.gab-color {
  color: #611f69;
}

.top-container {
  height: 95px;
}

.bottom-container {
  position: fixed;
  background-color: #611f69;
  color: white;
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0;
}

.join-text {
  text-align: center;
  margin: 30px 0px 10px 0px;
}

.painless-text {
  text-align: center;
  margin: 0;
}

.gab-logo {
  margin-left: 50px;
  margin-top: 30px;
}

.purple-gab {
  color: #611f69;
}
.sign-in-form {
  margin-left: 20%;
}
.sign-up-form {
  margin-left: 35%;
  margin-right: 35%;
}

.top-form-label {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 22px 0px 3px 0px;
}

.username-sgn-in.form-control {
  margin-bottom: 10px;
}

.input-sign-in.form-control {
  font-size: 0.8rem;
  height: 38% !important;
}

.username-col {
  padding: 0px 5px !important;
}

.password-col {
  padding: 0px 5px !important;
}

.error-text {
  color: #cd2553;
}

.footer {
  position: relative;
  height: 70px;
  background-color: white;
}

.footer-text {
  color: #611f69;
  font-weight: bold;
}

.footer-container {
  position: fixed;
  bottom: 0px;
  height: 50px;
  background-color: white;
}

.login-btn {
  background-color: #611f69 !important;
  margin-top: 30%;
  height: 35%;
}

.login-text {
  font-size: 0.9rem;
  padding-bottom: 2px;
}

.users-col {
background-color: #2d545e;
position: absolute;
left: 0%;
}

.messages-col {
  overflow: auto;
  margin-left: 20rem;
  height: 80%;
  max-height: 800px;
  
}

.message-input {
  margin-left: 10rem;
  position: absolute;
  bottom: 5%;
}

.message-card {
  border-radius: .1rem !important;
}

